.form-div {
  margin-top: 80px;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.div-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.div-input-spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lable {
  width: 16.5rem;
  font-size: 1rem;
  color: black;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 17rem;
  border: none;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 0.9rem;
  color: #38383c;
  background: transparent;
}

.button-submit {
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 32px;
  margin-top: 2rem;
  padding-right: 32px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #097fb6 100%);
  border-radius: 8px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
}

.button-submit:hover {
  background: linear-gradient(to bottom, #408c99 5%, #097fb6 100%);
}
.button-submit:disabled {
  color: #717070;
  cursor: default;
  background: rgb(187, 187, 187);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  font-size: 11px;
  color: rgb(231, 88, 88);
  margin-bottom: 0px;
}

@media only screen and (max-width: 414px) {
  .form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-bottom: 1rem;
  }

  .div-input-spec {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lable {
    font-size: 13px;
    width: 14.5rem;
  }

  .button-submit {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 32px;
    margin-top: 2rem;
    padding-right: 32px;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #097fb6 100%);
    border-radius: 8px;
    color: #ffffff;
    text-shadow: 0px 1px 0px #3d768a;
    border: none;
  }

  .form-div {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 14.5rem;
  }
}
