.project-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9rem;
}

.project {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  text-decoration: none;
  width: 306.5px;
  border-radius: 10px;
  border-color: #87bdd8;
  background-color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project:hover {
  box-shadow: #145da0 0px 5px 15px;
}

body {
  background-color: #b1d4e0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  background-image: linear-gradient(315deg, #2a2a72 0%, #1b73a8 74%);
  position: fixed;
  top: 0px;
  height: 25px;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(235, 239, 244, 0.4) 0px 0px 0px 2px,
    rgba(255, 255, 255, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.192) 0px 1px 0px inset;
}

.h3 {
  width: 189px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.app-img {
  width: 17rem;
  height: 6rem;
}

.app-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #145da0;
}

@media only screen and (max-width: 414px) {
  .project-link {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    justify-content: center;
    align-content: center;
    margin-bottom: 45px;
  }

  .project {
    margin-top: 100px;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
    border-color: #87bdd8;
    display: flex;
    flex-direction: column;
  }
  .project:hover {
    border-color: #65afd4;
  }
}
