.project-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-left: 150px;
}

.project {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  text-decoration: none;
  border-style: solid;
  border-width: 5px;
  width: 306.5px;
  border-radius: 10px;
  border-color: #87bdd8;
  background-color: lightblue;
}
.project:hover{
border-color: #65afd4;
}

 body {
  background-color: #daebe8;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  background: lightblue;
  position: fixed;
  top: 0px;
  height: 25px;
  width: 100%;
  z-index: 100;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-color: whitesmoke;
}

.h3{
  width: 189px;
  color: black;
  text-decoration: none;
}

.app-img{
  width: 306.5px;
  height: 100px;
}

.app-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
