.div-profile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.personal-info{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #ebf8ff;
    border-color: #65afd4;
    border-radius: 15px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #65afd4;
    border-width: 2px;
}

.bio {
    width: 369px;
    font-size: 15px;
    margin-top: 2px;
    height: 104.7px;
    display: flex;
    justify-content: flex-start;

}

.repo-div-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 369px;
    font-size: 20px;
}

.public-repos{
    margin-right: 30px;
}

.repos-link{
    text-decoration: none;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    font-size: small;
    padding: 5px;
}

.repos-link:hover{
    background-color:#ebf8ff;
    color: black;
    border-color: #65afd4;
    border-width: 2px;
}


.bio-title{
    margin-bottom: 0.28px;
    margin-top: 5.28px;

}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.repos{
    padding-left: 50px;
}

.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: 50px;
}

.profile-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 414px){
    .div-profile {
        margin-top: 1px;
        display: grid;
        width: 312px;
        margin-left: 41px;
    }

    .personal-info{
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        background-color: #ebf8ff;
        border-color: #65afd4;
        border-radius: 15px;
        width: 205px;
        margin-left: 100px;
    }

    .bio {
        width: 369px;
        font-size: 15px;
        margin-top: 2px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        width: 320px;
        margin-left: 18px;
    }

    .bio-title{
        margin-bottom: 0.28px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 320px;
        margin-left: 18px;
    }

    .repo-div-profile{
        display: grid;
        font-size: 20px;
        height: 124.433px;
        margin-bottom: 0px;
        margin-right: 89px;
        width: 222px;
        margin-left: 47px;
    }

    .public-repos{
        display: flex;
        justify-content: center;
        width: 219px;
        margin-right: 0px;
        margin-left: 25px;
    }

    .repos-link{
        text-decoration: none;
        color: black;
        border: solid;
        border-width: 1px;
        border-radius: 6px;
        font-size: small;
        padding: 5px;
        width: 111px;
        margin-left: 73px;
    }

    .repos{
        padding-left: 27px;
        width: 335px;
        margin-right: 50px;
    }
}
